body {
    font-family: Spartan, sans-serif;
    padding: 20px 60px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: coral;
    transition: all 0.25s ease;
}

* {
    box-sizing: border-box;
}

